In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [21]:
team_data_clean = pd.read_csv("team_data_clean.csv")
season_stats= pd.read_csv("season_stats.csv")

In [23]:
team_data_clean = team_data_clean.drop("Unnamed: 0", axis=1)
team_data_clean

,Season,TeamID,Rank_WLK,Rank_DOL,Rank_COL,Rank_SAG,Rank_MOR,Rank_POM,Seed,TeamName,Wins,Losses,Win%,T_Wins
0,2003,1328,8,6,3,8,6,9,1,Oklahoma,24,6,80.0000,3.0
1,2003,1448,9,4,8,9,20,12,2,Wake Forest,24,5,82.7586,1.0
2,2003,1393,14,5,9,12,21,15,3,Syracuse,24,5,82.7586,6.0
3,2003,1257,6,16,6,6,14,14,4,Louisville,24,6,80.0000,1.0
4,2003,1280,17,19,25,16,8,11,5,Mississippi St,21,9,70.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,2021,1457,83,49,52,87,50,91,12,Winthrop,23,1,95.8333,0.0
1193,2021,1317,78,88,85,84,94,71,13,North Texas,16,9,64.0000,1.0
1194,2021,1159,10,16,14,67,41,84,14,Colgate,14,1,93.3333,0.0
1195,2021,1331,151,150,181,152,130,151,15,Oral Roberts,13,10,56.5217,2.0
1196,2021,1216,181,156,155,186,146,189,16,Hartford,15,8,65.2174,0.0

In [24]:
season_stats= season_stats.drop("Unnamed: 0", axis=1)
season_stats

,Season,TeamID,FGM,FGA,FG%,FGM_Ag,FGA_Ag,FG%_Ag,FGM_pg,FGM_Ag_pg,...,Stl_pg,Stl_Ag_pg,Blk,Blk_Ag,Blk_pg,Blk_Ag_pg,PF,PF_Ag,PF_pg,PF_Ag_pg
0,2003,1102,536.0,1114.0,48.1149,540.0,1188.0,45.4545,19.143,19.286,...,5.964,5.429,50.0,44.0,1.786,1.571,525.0,514.0,18.750,18.357
1,2003,1103,733.0,1508.0,48.6074,750.0,1539.0,48.7329,27.148,27.778,...,7.259,6.407,63.0,77.0,2.333,2.852,536.0,606.0,19.852,22.444
2,2003,1104,673.0,1601.0,42.0362,651.0,1554.0,41.8919,24.036,23.250,...,6.607,5.536,106.0,89.0,3.786,3.179,505.0,539.0,18.036,19.250
3,2003,1105,634.0,1602.0,39.5755,702.0,1533.0,45.7926,24.385,27.000,...,9.308,9.385,54.0,109.0,2.077,4.192,526.0,496.0,20.231,19.077
4,2003,1106,656.0,1548.0,42.3773,608.0,1495.0,40.6689,23.429,21.714,...,8.357,8.786,88.0,89.0,3.143,3.179,509.0,452.0,18.179,16.143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,2015,1363,503.0,1452.0,34.6419,687.0,1449.0,47.4120,17.964,24.536,...,4.857,6.964,69.0,85.0,2.464,3.036,513.0,437.0,18.321,15.607
6888,2021,1152,180.0,497.0,36.2173,295.0,558.0,52.8674,20.000,32.778,...,5.444,6.444,13.0,26.0,1.444,2.889,12.0,13.0,1.333,1.444
6889,2022,1175,326.0,863.0,37.7752,424.0,985.0,43.0457,20.375,26.500,...,5.938,8.125,70.0,57.0,4.375,3.562,273.0,288.0,17.062,18.000
6890,2022,1237,349.0,944.0,36.9703,428.0,957.0,44.7231,18.368,22.526,...,5.158,7.000,41.0,56.0,2.158,2.947,361.0,276.0,19.000,14.526
6891,2022,1249,467.0,1178.0,39.6435,510.0,1100.0,46.3636,23.350,25.500,...,6.200,6.550,54.0,61.0,2.700,3.050,378.0,316.0,18.900,15.800

In [25]:
df = team_data_clean.merge(season_stats, how='inner', on=['TeamID', 'Season'])
df

,Season,TeamID,Rank_WLK,Rank_DOL,Rank_COL,Rank_SAG,Rank_MOR,Rank_POM,Seed,TeamName,...,Stl_pg,Stl_Ag_pg,Blk,Blk_Ag,Blk_pg,Blk_Ag_pg,PF,PF_Ag,PF_pg,PF_Ag_pg
0,2003,1328,8,6,3,8,6,9,1,Oklahoma,...,6.933,5.167,113.0,80.0,3.767,2.667,558.0,526.0,18.600,17.533
1,2003,1448,9,4,8,9,20,12,2,Wake Forest,...,6.414,7.379,127.0,94.0,4.379,3.241,536.0,639.0,18.483,22.034
2,2003,1393,14,5,9,12,21,15,3,Syracuse,...,8.310,6.621,211.0,91.0,7.276,3.138,481.0,572.0,16.586,19.724
3,2003,1257,6,16,6,6,14,14,4,Louisville,...,7.200,5.767,142.0,73.0,4.733,2.433,680.0,678.0,22.667,22.600
4,2003,1280,17,19,25,16,8,11,5,Mississippi St,...,8.733,7.733,112.0,90.0,3.733,3.000,477.0,515.0,15.900,17.167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,2021,1457,83,49,52,87,50,91,12,Winthrop,...,7.750,6.000,57.0,80.0,2.375,3.333,84.0,98.0,3.500,4.083
1193,2021,1317,78,88,85,84,94,71,13,North Texas,...,6.840,6.480,75.0,74.0,3.000,2.960,138.0,126.0,5.520,5.040
1194,2021,1159,10,16,14,67,41,84,14,Colgate,...,7.200,4.867,51.0,42.0,3.400,2.800,68.0,85.0,4.533,5.667
1195,2021,1331,151,150,181,152,130,151,15,Oral Roberts,...,6.217,5.565,94.0,71.0,4.087,3.087,184.0,177.0,8.000,7.696
1196,2021,1216,181,156,155,186,146,189,16,Hartford,...,7.000,5.348,47.0,77.0,2.043,3.348,133.0,139.0,5.783,6.043

In [26]:
df.to_csv('final_df.csv')