In [95]:
import numpy as np
import pandas as pd

In [96]:
season_stats= pd.read_csv("mens-march-mania-2022/MRegularSeasonDetailedResults.csv")
season_stats = season_stats.drop(['DayNum', 'WLoc', 'NumOT'], axis=1)

In [97]:
season_stats

,Season,WTeamID,WScore,LTeamID,LScore,WFGM,WFGA,WFGM3,WFGA3,WFTM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,1104,68,1328,62,27,58,3,14,11,...,10,16,22,10,22,8,18,9,2,20
1,2003,1272,70,1393,63,26,62,8,20,10,...,24,9,20,20,25,7,12,8,6,16
2,2003,1266,73,1437,61,24,58,8,18,17,...,26,14,23,31,22,9,12,2,5,23
3,2003,1296,56,1457,50,18,38,3,9,17,...,22,8,15,17,20,9,19,4,3,23
4,2003,1400,77,1208,71,30,61,6,14,11,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100418,2022,1400,79,1242,76,28,67,3,20,20,...,13,15,23,5,24,10,15,3,5,21
100419,2022,1411,66,1126,63,24,59,2,20,16,...,21,15,24,5,23,10,19,13,2,23
100420,2022,1422,68,1441,49,23,56,13,32,9,...,24,8,11,10,18,5,16,8,2,12
100421,2022,1438,69,1181,68,31,65,2,12,5,...,17,18,22,11,25,14,14,3,9,11
100422,2022,1439,74,1338,47,29,55,13,27,3,...,20,7,9,0,18,11,11,3,6,14

### Field Goals

Field Goals Made

In [98]:
FGM_W = pd.DataFrame(season_stats.groupby(['Season', 'WTeamID'])['WFGM'].sum())
FGM_W.reset_index(inplace=True)
FGM_W.rename(columns={'WTeamID':'TeamID'}, inplace=True)

In [99]:
FGM_L = pd.DataFrame(season_stats.groupby(['Season', 'LTeamID'])['LFGM'].sum())#.rename(columns={'LTeamID':'TeamID'})
FGM_L.reset_index(inplace=True)
FGM_L.rename(columns={'LTeamID':'TeamID'}, inplace=True)

In [128]:
FGM_tot = pd.merge(left=FGM_W, right=FGM_L, how='outer', on=['Season', 'TeamID'])
FGM_tot.fillna(0, inplace=True)
FGM_tot['FGM'] = FGM_tot['WFGM'] + FGM_tot['LFGM']
FGM_tot.drop(['WFGM', 'LFGM'], axis = 1, inplace=True)
FGM_tot

      Season  TeamID    FGM
0       2003    1102  536.0
1       2003    1103  733.0
2       2003    1104  673.0
3       2003    1105  634.0
4       2003    1106  656.0
...      ...     ...    ...
6887    2015    1363  503.0
6888    2021    1152  180.0
6889    2022    1175  326.0
6890    2022    1237  349.0
6891    2022    1249  467.0

[6892 rows x 3 columns]

Field Goals Attempted

In [102]:
FGA_W = pd.DataFrame(season_stats.groupby(['Season', 'WTeamID'])['WFGA'].sum())
FGA_W.reset_index(inplace=True)
FGA_W.rename(columns={'WTeamID':'TeamID'}, inplace=True)

In [103]:
FGA_L = pd.DataFrame(season_stats.groupby(['Season', 'LTeamID'])['LFGA'].sum())
FGA_L.reset_index(inplace=True)
FGA_L.rename(columns={'LTeamID':'TeamID'}, inplace=True)

In [129]:
FGA_tot = pd.merge(left=FGA_W, right=FGA_L, how='outer', on=['Season', 'TeamID'])
FGA_tot.fillna(0, inplace=True)
FGA_tot['FGA'] = FGA_tot['WFGA'] + FGA_tot['LFGA']
FGA_tot.drop(['WFGA', 'LFGA'], axis = 1, inplace=True)
FGA_tot

      Season  TeamID     FGA
0       2003    1102  1114.0
1       2003    1103  1508.0
2       2003    1104  1601.0
3       2003    1105  1602.0
4       2003    1106  1548.0
...      ...     ...     ...
6887    2015    1363  1452.0
6888    2021    1152   497.0
6889    2022    1175   863.0
6890    2022    1237   944.0
6891    2022    1249  1178.0

[6892 rows x 3 columns]

Field Goal Percentage

In [142]:
FGP = pd.merge(left=FGM_tot, right=FGA_tot, how='outer', on=['Season', 'TeamID'])

In [149]:
FGP['FG%'] = round(FGP['FGM'] / FGP['FGA']*100,4)

Field Goal Made Against

In [125]:
FGM_W_Ag = pd.DataFrame(season_stats.groupby(['Season', 'WTeamID'])['LFGM'].sum())
FGM_W_Ag.reset_index(inplace=True)
FGM_W_Ag.rename(columns={'WTeamID':'TeamID'}, inplace=True)

In [117]:
FGM_L_Ag = pd.DataFrame(season_stats.groupby(['Season', 'LTeamID'])['WFGM'].sum())
FGM_L_Ag.reset_index(inplace=True)
FGM_L_Ag.rename(columns={'LTeamID':'TeamID'}, inplace=True)

In [134]:
FGM_tot_Ag = pd.merge(left=FGM_W_Ag, right=FGM_L_Ag, how='outer', on=['Season', 'TeamID'])
FGM_tot_Ag.fillna(0, inplace=True)
FGM_tot_Ag['FGM_Ag'] = FGM_tot_Ag['WFGM'] + FGM_tot_Ag['LFGM']
FGM_tot_Ag.drop(['WFGM', 'LFGM'], axis = 1, inplace=True)

Field Goal Attempts Against

In [138]:
FGA_W_Ag = pd.DataFrame(season_stats.groupby(['Season', 'WTeamID'])['LFGA'].sum())
FGA_W_Ag.reset_index(inplace=True)
FGA_W_Ag.rename(columns={'WTeamID':'TeamID'}, inplace=True)

In [139]:
FGA_L_Ag = pd.DataFrame(season_stats.groupby(['Season', 'LTeamID'])['WFGA'].sum())
FGA_L_Ag.reset_index(inplace=True)
FGA_L_Ag.rename(columns={'LTeamID':'TeamID'}, inplace=True)

In [140]:
FGA_tot_Ag = pd.merge(left=FGA_W_Ag, right=FGA_L_Ag, how='outer', on=['Season', 'TeamID'])
FGA_tot_Ag.fillna(0, inplace=True)
FGA_tot_Ag['FGA_Ag'] = FGA_tot_Ag['WFGA'] + FGA_tot_Ag['LFGA']
FGA_tot_Ag.drop(['WFGA', 'LFGA'], axis = 1, inplace=True)

Field Goals Against Percentage

In [144]:
FGP_Ag = pd.merge(left=FGM_tot_Ag, right=FGA_tot_Ag, how='outer', on=['Season', 'TeamID'])

In [146]:
FGP_Ag['FG%_Ag'] = round(FGP_Ag['FGM_Ag'] / FGP_Ag['FGA_Ag']*100,4)